@model IEnumerable<DTO.informatique>

@{
    ViewBag.Title = "Informatique";
}

<div align="center"><h2>Section informatique</h2></div>



<div align="center">
    @foreach (var item in Model)
    {
        <div class="flip categories">
            <img id="redimensionImg" src="~/Pictures/@Html.DisplayFor(modelItem => item.img)" />
            <br>@Html.DisplayFor(modelItem => item.id_mot_cle)
            <br>@Html.DisplayFor(modelItem => item.description)
        </div>
        <div class="panel">@Html.DisplayFor(modelItem => item.description_precise)</div>
    }
</div>


<script>
    $(".panel").hide();
    $(document).ready(function () {
        $(".flip").click(function () {
            if ($(this).next(".panel").is(":visible")) {
                $(".panel").slideUp("slow");
                $(".flip").delay(1000).show("slow");
            }
            else {
                $(".panel").hide();
                $(".flip").hide();
                $(this).show();
                $(this).next(".panel").slideDown("slow");
            }
    });
});
</script>